.badge{
    color: rgb(10, 8, 8) !important;
}

button{
    
    color: #ffffff !important;
}

.bg-have .badge{
    color: #ffffff !important;
}

.bootstrap-table .btn-secondary {
    background-color: #54a6eede !important;
}/* Laravel Pagination - Global Style */.pagination {    display: flex;    justify-content: center;    gap: 4px;    padding: 0;    margin: 0;    list-style: none;}.page-item {    width: 24px;    height: 24px;}.page-link {    display: flex;    justify-content: center;    align-items: center;    width: 20px;    height: 20px;    padding: 0;    font-size: 10px; /* small text */    border-radius: 50%;    background-color: #2575fc;    color: #fff;    border: none;    transition: all 0.3s ease-in-out;    cursor: pointer;    text-decoration: none;}.page-link:hover {    background-color: #6a11cb;    transform: scale(1.2);}.page-item.active .page-link {    background-color: #ff416c;    transform: scale(1.2);    box-shadow: 0 2px 4px rgba(0,0,0,0.2);}.page-link:focus {    outline: none;    box-shadow: none;}